<h2>New Celebrity</h2>
<form method="POST" action="/celebrities/new-celebrity">
  <label> Name:
    <input name="name"></label>
  <lable>Occupation:
    <input name="occupation">
  </lable>
  <lable>CatchPhrase:
    <input name="catchPhrase">
  </lable>

  <button type="submit">Adding a new Celebrity</button>
</form>