<h2>New Movie</h2>
<form method="POST" action="/movies/new-movie">
  <label> Title:
    <input name="name"></label>
  <lable>Genre:
    <input name="genre">
  </lable>
  <lable>Plot:
    <input name="plot">
  </lable>

  <button type="submit">Adding a new Movie</button>
</form>